*{box-sizing: border-box;}
@font-face {
  font-family: Leimzy;
  src: ./assets/Leimzy-Regular.otf;
}

p {
  color: gray;
  font-family: Leimzy;
  font-size: 20px;
  padding: 0%;
}

img {
  height:100%;
}

body{
  margin:0;
  padding: 0;
  background-color: white;
  color: gray;
  font-family: Leimzy;
  font-size: 20px;
  padding: 0%;
  height: 100%;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: black;
}
.map-container{
  width: 50%;
  height: 95%;
  /* outline-color: black;
  outline-style: solid; */
  margin-left: auto;
  margin-right: auto;
}


.placeholder{
  position: absolute;
  top: 5%;
  left: 27%;
  height: 50px;
  width: 50px;
  z-index: 100;
}
  .placeholder:hover{
    filter: drop-shadow(0 0 30px #CEFA05);
  }
  .placeholder .home {
    visibility: hidden;
    width: 500px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    left: 90%;
    z-index: 4;
  }
  .placeholder:hover .home{
    visibility: visible;
  }

.placeholder2{
  position: absolute;
  top: 20%;
  left: 20%;
  height: 50px;
  width: 50px;
  z-index: 100;
}
  .placeholder2:hover{
    filter: drop-shadow(0 0 30px #CEFA05);
  }
  .placeholder2 .map {
    visibility: hidden;
    width: 500px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    left: 90%;
    z-index: 4;
  }
  .placeholder2:hover .map{
    visibility: visible;
  }
.placeholder3{
  position: absolute;
  top: 35%;
  left: 35%;
  height: 50px;
  width: 50px;
  z-index: 100;
}
  .placeholder3:hover{
    filter: drop-shadow(0 0 30px #CEFA05);
  }
  .placeholder3 .video {
    visibility: hidden;
    width: 500px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    left: 90%;
    z-index: 4;
  }
  .placeholder3:hover .video{
    visibility: visible;
  }

.placeholder4{
  position: absolute;
  top: 42%;
  left: 25%;
  height: 50px;
  width: 50px;
  z-index: 100;
}

.placeholder5{
  position: absolute;
  top: 60%;
  left: 34%;
  height: 50px;
  width: 50px;
  z-index: 100;
}
  /* .e{
    width: 25%;
    outline-color: black;
    outline-style: solid;
    float: left;
    margin-top: 10%;
  }

  .r{
    width: 25%;
    outline-color: black;
    outline-style: solid;
    float: left;
    margin-top: 10%;
  }

  .i{
    width: 25%;
    outline-color: black;
    outline-style: solid;
    float: left;
    margin-top: 10%;
  }

  .e2{
    width: 25%;
    outline-color: black;
    outline-style: solid;
    float: left;
    margin-top: 10%;
  } */
