*{box-sizing: border-box;}
@font-face {
  font-family: Leimzy;
  src: ./assets/Leimzy-Regular.otf;
}

p {
  color: gray;
  font-family: Leimzy;
  font-size: 20px;
  padding: 0%;
}

img {
  height:100%;
}

body{
  margin:0;
  padding: 0;
  background-color: white;
  color: gray;
  font-family: Leimzy;
  font-size: 20px;
  padding: 0%;
  height: 100%;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: black;
}
.map-container{
  width: 50%;
  height: 95%;
  /* outline-color: black;
  outline-style: solid; */
  margin-left: auto;
  margin-right: auto;
}

.tri1{
  position: absolute;
  top: 7%;
  left: 26%;
  height: 20px;
  width: 20px;
  z-index: 100;
}
  .tri1:hover{
    filter: drop-shadow(0 0 30px #CEFA05);
  }
  .tri1 .home {
    visibility: hidden;
    width: 500px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    left: 90%;
    z-index: 4;
  }
  .tri1:hover .home{
    visibility: visible;
  }

.tri2{
  position: absolute;
  top: 20%;
  left: 24%;
  height: 20px;
  width: 20px;
  z-index: 100;
}
  .tri2:hover{
    filter: drop-shadow(0 0 30px #CEFA05);
  }
  .tri2 .map {
    visibility: hidden;
    width: 500px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    left: -200%;
    z-index: 4;
  }
  .tri2:hover .map{
    visibility: visible;
  }
.tri3{
  position: absolute;
  top: 38%;
  left: 36%;
  height: 20px;
  width: 20px;
  z-index: 100;
}
  .tri3:hover{
    filter: drop-shadow(0 0 30px #CEFA05);
  }
  .tri3 .video {
    visibility: hidden;
    width: 500px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    left: 90%;
    z-index: 4;
  }
  .tri3:hover .video{
    visibility: visible;
  }

.tri4{
  position: absolute;
  top: 46%;
  left: 30%;
  height: 20px;
  width: 20px;
  z-index: 100;
}
.tri4:hover{
    filter: drop-shadow(0 0 30px #CEFA05);
  }
  .tri4 .wardrobe {
    visibility: hidden;
    width: 500px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    left: -400%;
    z-index: 4;
  }
  .tri4:hover .wardrobe{
    visibility: visible;
  }

.tri5{
  position: absolute;
  top: 60%;
  left: 45%;
  height: 20px;
  width: 20px;
  z-index: 100;
}

 .tri5:hover{
    filter: drop-shadow(0 0 30px #CEFA05);
  }
  .tri5 .films {
    visibility: hidden;
    width: 500px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    left: 90%;
    z-index: 4;
  }
  .tri5:hover .films{
    visibility: visible;
  }
